<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hospital Management System</title>
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAADE8vAA6ejtAEG/uQCa498AGH14AO36+QAPB/AAnaSmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVQMkd3dCMFVVAyR3d0IwVQADJHd3QjAAMzJHd3d0IzMiJHcREXdCIkRHdxZhd3REd3cRFmERd3d3dxZmZmF3d3d3FmZmYXd3d3cRFmERd3dER3cWYXd0RCIkdxERd0IiMzJHd3d0IzMAAyR3d0IwAFUDJHd3QjBVVQMkd3dCMFUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
</head>

<body>
  {% include "hospital/navbar.html" %}
  {%block content%}

  {%endblock content%}
  {% include "hospital/footer.html" %}
</body>
<!--
developed By : Emon Deb
-->

</html>
